<html>
	<head>
		<title>ez-ambulance</title>
		<meta charser="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			 <div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Driver</th>
							<th>Phone Number</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for amb_id, driver, phone, is_booked in ambulances %}
						<tr>
							<td>{{driver}}</td>
							<td>{{phone}}</td>
							<td><a href="/book/{{amb_id}}">Book</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
