<html>
	<head>
		<title>ez-ambulance</title>
		<meta charser="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Modify Ambulance Details</h4>
					</div>
					<div class="modal-body">
						<form name="modify" id="modify" method="post" action="/modify">
							<div class="form-group">
								<input type="hidden" class="form-control" id="amb_id" name="amb_id">
							</div>
								
							<div class="form-group">
								<label for="driver">Driver Name:</label>
								<input type="text" class="form-control" id="driver" name="driver" required>
							</div>
							<div class="form-group">
								<label for="pwd">Phone:</label>
								<input type="phone" class="form-control" id="phone" name="phone" required>
							</div>
							<button type="submit" class="btn btn-primary">Modify</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			
			<div id="accordion">
				<div class="card">
					<div class="card-header">
						<a class="card-link" data-toggle="collapse" href="#collapseAdd">
							Add Ambulance
						</a>
					</div>
					<div id="collapseAdd" class="collapse" data-parent="#accordion">
						<div class="card-body">
								<form name="add" method="post" action="/add">
									<div class="form-group">
										<label for="driver">Driver Name:</label>
										<input type="text" class="form-control" id="driver" name="driver" required>
									</div>
									<div class="form-group">
										<label for="pwd">Phone:</label>
										<input type="phone" class="form-control" id="phone" name="phone" required>
									</div>
									<button type="submit" class="btn btn-primary">Add</button>
								</form>
						</div>
					</div>
				</div>
			</div> 
			<br>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Driver</th>
							<th>Phone Number</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for amb_id, driver, phone, is_booked in ambulances %}
						<tr>
							<td>{{driver}}</td>
							<td>{{phone}}</td>
							<td>
								<button onclick="update_val('{{amb_id}}','{{driver}}','{{phone}}')" 
									class="btn btn-info" class="btn btn-info btn-lg"
								 data-toggle="modal" data-target="#myModal">Modify</button>
								</td>
							<td><a href="/remove/{{amb_id}}" class="btn btn-info" role="button">Remove</a></td>
						</tr>
						{% endfor %}
						<script>
							function update_val(amb_id,driver,phone){
								console.log("ran");
								var f = document.forms['modify'];
								f.elements['amb_id'].value = amb_id;
								f.elements['driver'].value = driver;
								f.elements['phone'].value = phone;
							}
						</script>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
